.containerLight {
  padding: 20px;
  border-radius: 10px;
  background-color: var(--lightbgSoft);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

.titleLight {
  color: var(--lighttextSoft);
  font-weight: bold;
  text-transform: capitalize;
  font-size: 20px;
  flex: 1;
}
.containerDark {
  padding: 20px;
  border-radius: 10px;
  background-color: var(--bgSoft);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

.titleDark {
  color: var(--textSoft);
  font-weight: bold;
  text-transform: capitalize;
  font-size: 20px;
  flex: 1;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  flex: 2;
}

.searchLight {
  background-color: rgba(71, 75, 77, 0.459);
  width: 50%;
  display: flex;
  gap: 10px;
  padding: 10px;
  border-radius: 10px;
}

.inputLight {
  background-color: transparent;
  border: none;
  color: black;
}
.inputLight::placeholder {
  background-color: transparent;
  border: none;
  color: black;
}
.searchDark {
  width: 50%;
  display: flex;
  gap: 10px;
  background-color: #2e374a;
  padding: 10px;
  border-radius: 10px;
}

.inputDark {
  background-color: transparent;
  border: none;
  color: var(--text);
}

.iconsLight {
  display: flex;
  justify-content: end;
  margin-top: 5px;
  gap: 20px;
  color: var(--lighttext);
}
.iconsDark {
  display: flex;
  justify-content: end;
  margin-top: 5px;
  gap: 20px;
  color: var(--text);
}
