.containerLight {
  height: 450px;
  padding: 20px;
  border-radius: 10px;
  background-color: var(--lightbgSoft);
}
.containerDark {
  height: 450px;
  padding: 20px;
  border-radius: 10px;
  background-color: var(--bgSoft);
}

.title {
  font-weight: 200;
  color: rgb(252, 240, 81);
  margin-bottom: 20px;
}
.containerC {
  height: 250px;
  width: 250px;
  border-radius: 10px;
  margin-top: 60px;
}
.containerCC {
  height: 250px;
  width: 250px;
  border-radius: 10px;
}
