.conatiner {
  position: sticky;
  top: 40px;
}
.user {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}
.userImg {
  border-radius: 50%;
  object-fit: cover;
}
.userDetails {
  display: flex;
  flex-direction: column;
}
.userNameLight {
  font-weight: 800;
  letter-spacing: 1px;
  color: var(--lighttext);
}
.userTitleLight {
  font-size: 15px;
  color: var(--lighttextSoft);
}
.userNameDark {
  font-weight: 800;
  letter-spacing: 1px;
}
.userTitleDark {
  font-size: 15px;
  color: var(--textSoft);
}
.cat {
  list-style: none;
  font-weight: bold;
  font-size: 16px;
  margin: 10px;
}
