:root{
    --bg:#020016;
    --bgSoft:#0D0D33;
    --text:#FAFBFF;
    --textSoft:#8B90A3;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--bg);
    color: var(--text);
}
a{
    color: inherit;
    text-decoration: none;
}
